<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./QuantamSky.svg" type="image/x-icon">
    <link rel="stylesheet" href="/register.css">

    <title>Express</title>

</head>
<body>
     <div class="container">
        <h1>Register Here</h1>
    <form action="/register"  method="post">
        <input 
        type="text"
        placeholder="Enter username"
        name="username"
        >
        <input 
        type="text"
        placeholder="Enter email"
        name="email"
        >
        <input 
        type="password"
        placeholder="Enter password"
        name="password"
        >

        <button>Register</button>
    </form>
    </div>
</body>
</html>